<header id="header" class="header">
    <div class="container">
      
        <div class="header-menu show-narrow">
            <a class="menu" href="javascript:;">
                <i class="icon icon-menu"></i>
            </a>
        </div>
        
        <h1 class="logo">
            <a href="/">Market</a>
        </h1>
        
        <div class="header-secondary show-wide">
            <ul class="header-items">
                <li>
                    <a class="menu" href="/signup">注册</a>
                </li>
                <li>
                    <a class="menu" href="/login">登录</a>
                </li>
            </ul>
        </div>
        
        <div class="header-user show-narrow">
            <a class="menu" href="javascript:;">
                <i class="icon icon-user"></i>
            </a>
        </div>
      
    </div>
</header>