<header id="header" class="header">
    <div class="container">
      
        <div class="header-menu show-narrow">
            <a class="menu" href="javascript:;">
                <i class="icon icon-menu"></i>
            </a>
        </div>
        
        <h1 class="logo">
            <a href="/">Market</a>
        </h1>
        
        <div class="header-secondary show-wide">
            <ul class="header-items">
                <% if (typeof me !== 'undefined') { %>
                <li>
                    <a class="menu" href="/t/new">发布</a>
                </li>
                <li>
                    <a class="menu" href="/u/<%= me.username %>"><%= me.username %></a>
                </li>
                
                <% if(me.role === 'admin') { %>
                <li>
                    <a class="menu" href="/admin/dashboard" target="_blank">后台</a>
                </li>
                <% } %>

                <li>
                    <a class="menu" href="/logout">登出</a>
                </li>
                <% }else{ %>
                <li>
                    <a class="menu" href="/signup">注册</a>
                </li>
                <li>
                    <a class="menu" href="/login">登录</a>
                </li>
                <% } %>
            </ul>
        </div>
        
        <div class="header-user show-narrow">
            <a class="menu" href="#" data-toggle="modal" data-target="#user_panel">
                <i class="icon icon-user"></i>
            </a>
        </div>

        <div class="modal " id="user_panel">
            <div class="container">
                <div class="panel">
                    <div class="hd">
                        <h2>
                            <a href="/">Market</a>
                        </h2>
                        <span class="close">
                            <i class="icon icon-x"></i>
                        </span>
                    </div>
                	<ul class="nav">
                        <% if (typeof me !== 'undefined') { %>
                        <li>
                            <a href="/profile"><%= me.username %></a>
                        </li>

                        <% if(me.role === 'admin') { %>
                        <li>
                            <a href="/admin/dashboard" target="_blank">后台</a>
                        </li>
                        <% } %>

                        <li>
                            <a href="/logout">登出</a>
                        </li>
                        <% }else{ %>
                        <li>
                            <a href="/signup">注册</a>
                        </li>
                        <li>
                            <a href="/login">登录</a>
                        </li>
                        <% } %>
                	</ul>
                </div>
            </div>
        </div>
      
    </div>
</header>