<main class="main">
    <div class="container">
        
        <% if (message.length > 0) { %>
        <div class="fast-msg">
            <p><%= message %></p>
        </div>
        <% } %>
        
        <div class="panel">
            <div class="form-box">
                <form action="/login" method="post">
                    <div class="form-item">
                        <input class="fill" name="email" type="text" placeholder="用户名/邮箱">
                    </div>
                    <div class="form-item">
                        <input class="fill" name="password" type="password" placeholder="密码">
                    </div>
                    <div class="form-item">
                        <button class="btn" type="submit">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>