<section id="profile" class="profile clearfix">
    <div class="container">
        <div class="avatar">
            <img src="http://imgs.duwu.me/duwu/avatar/000/00/02/55.jpg">
        </div>
        <div class="info">
            <div class="user-name"><%= user.username %></div>
            <div class="join-time">三个月前加入</div>
            <div class="modify">
                <a class="btn btn-xs" href="#">修改资料</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="main">
        <div class="category-tab">
            <div class="element active">
                <a href="#">分享</a>
            </div>
            <div class="element">
                <a href="#">收藏</a>
            </div>
            <div class="element">
                <a href="#">关注标签</a>
            </div>
        </div>

        <div class="panel">
            <article>
              <div class="item">
                <div class="inner">
                  <a class="author" href="#">
                    <img class="avatar" src="https://cdn.v2ex.co/gravatar/a70d8abf2ddc670668f02d9e9287fdf0?s=48&amp;d=retro">
                  </a>
                  <div class="all">
                    <h2>
                      <a href="#">把 MT.GOX 总裁 MARK 的域名抢注了。</a>
                    </h2>
                    <div class="meta">
                      <span class="node">
                        <a href="#">问与答</a>
                      </span>
                      <span class="separator">·</span>
                      <span class="last-reply">
                        几秒前
                      </span>
                      <span class="separator">·</span>
                      <span class="up">
                        <i class="icon icon-praise"></i> 6
                      </span>
                      <span class="cmts">
                        <i class="icon icon-comment"></i> 8
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </article>

            <article>
              <div class="item">
                <div class="inner">
                  <a class="author" href="#">
                    <img class="avatar" src="https://cdn.v2ex.co/gravatar/a70d8abf2ddc670668f02d9e9287fdf0?s=48&amp;d=retro">
                  </a>
                  <div class="all">
                    <h2>
                      <a href="#">「GG.ST」把 MT.GOX 总裁 MARK 的域名抢注了。</a>
                    </h2>
                    <div class="meta">
                      <span class="node">
                        <a href="#">问与答</a>
                      </span>
                      <span class="separator">·</span>
                      <span class="last-reply">
                        几秒前
                      </span>
                      <span class="separator">·</span>
                      <span class="up">
                        <i class="icon icon-praise"></i> 6
                      </span>
                      <span class="cmts">
                        <i class="icon icon-comment"></i> 8
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </article>
        </div>
    </div>
</div>

