<%- partial('../partials/userInfo') %>

<div class="container">
    <div class="main">
        <div class="panel">
            <div class="form-box">
                <form action="/setting" method="post">
                    <div class="form-item">
                        <label class="lead">用户名</label>
                        <input class="fill" name="username" type="text" value="<%= user.username %>" disabled>
                    </div>

                    <div class="form-item">
                        <label class="lead">邮箱</label>
                        <input class="fill" name="email" type="text" placeholder="邮箱" value="<%= user.email %>">
                    </div>
                    
                    <input type="hidden" name="_csrf" value="<%= _csrf %>">
                    <div class="form-item">
                        <button class="btn" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>