<footer class="main-footer">
    <div class="pull-right hidden-xs"><b>Version</b>1.0</div><strong>Copyright &#169; 2016 <a href="#">Market</a>.</strong> All rights reserved.
</footer>

</div>

<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/admin/js/app.min.js"></script>
<script type="text/javascript" src="/admin/js/pages/dashboard.js"></script>
<script type="text/javascript" src="/admin/js/app.min.js"></script>
</body>
</html>