<div class="container">
    <div class="main">
        <div class="panel">
            <div class="topic">
                <div class="hd">
                    <div class="inner">
                        <a class="avatar" href="/u/<%= topic.author.username %>">
                            <img src="https://cdn.v2ex.co/avatar/1984/54f4/171138_normal.png">
                        </a>
                        <div class="info">
                            <h1 class="title"><%= topic.title %></h1>
                            <div class="meta">
                                <span class="node">
                                    <a href="/cat/<%= topic.category._id %>"><%= topic.category.name %></a>
                                </span>
                                <span class="dot"></span>
                                <%= topic.author.username %>
                                <span class="dot"></span>
                                <%= moment(topic.create_at).fromNow() %>
                                <span class="dot"></span>
                                <%= topic.views %> 次浏览
                            </div>
                        </div>
                    </div>
                </div>
                <% if(topic.locked){ %>
                <div class="warn">该主题已被锁定，停止被讨论。</div>
                <% } %>
                <div class="bd">
                    <div id="content" class="content">
                        <%- topic.content %>
                    </div>
                    <div class="operation clearfix">
                        <div class="fl">
                            <span class="up one <% if(topic.liked){ %>did<% } %> J_TopicLike" data-id="<%= topic._id %>">
                                <i class="icon icon-praise"></i>&nbsp;<s><%= topic.like.length %></s>
                            </span>
                            <span class="collect one <% if(collect){ %>did<% } %> J_TopicCollect" data-id="<%= topic._id %>">
                                <i class="icon icon-heart"></i>
                            </span>
                        </div>
                        <div class="fr">
                            <a class="cmts one" href="#cmt">
                                <i class="icon icon-comment"></i>&nbsp;<s><%= comments.length %></s>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--/.topic-->
            
            <div id="comment" class="comment">
                <div class="list">
                    <% for(var i=0; i<comments.length; i++){ %>
                    <div class="comment-item">
                        <div class="inner">
                            <a class="avatar">
                                <img src="https://cdn.v2ex.co/avatar/1984/54f4/171138_normal.png">
                            </a>
                            <div class="con">
                                <div class="meta">
                                    <div class="handler">
                                        <span class="reply J_Reply" data-user="<%= comments[i].author.username %>">
                                            <i class="icon icon-reply"></i>
                                        </span>
                                        <span class="up J_CommentLike <% if(comments[i].liked){ %>did<% } %>" data-id="<%= comments[i]._id %>">
                                            <i class="icon icon-praise"></i>&nbsp;<s><%= comments[i].like.length %></s>
                                        </span>
                                        <span class="idx">#<%= i+1 %></span>
                                    </div>
                                    
                                    <a href="/u/<%= comments[i].author._id %>"><%= comments[i].author.username %></a>&nbsp;&nbsp;
                                    <span><%= moment(comments[i].create_at).fromNow() %></span>
                                </div>
                                <div class="text"><%- comments[i].content %></div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% if(!topic.locked){ %>
                    <div id="cmt" class="comment-do">
                        <% if (message.length > 0) { %>
                        <div class="warn mb15"><%- message %></div>
                        <% } %>
                        <form action="/t/comment/<%= topic._id %>" method="post">
                            <div class="form-item <% if (typeof me === 'undefined') { %>J_LoginTips<% } %>">
                                <% if (typeof me !== 'undefined') { %>
                                <textarea id="comment_content" name="content" class="fill" rows="4" placeholder="你想说点什么吗？"></textarea>
                                <% } else { %>
                                <textarea id="comment_content" name="content" class="fill" rows="4" placeholder="你想说点什么吗？" disabled></textarea>
                                <% } %>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= _csrf %>">
                            <div class="form-item">
                                <button class="btn" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
            <!--/.comment-->
        </div>
    </div>
</div>

<% block('foot').append('<script type="text/javascript" src="/js/topic.js"></script>') %>